@import url('https://fonts.googleapis.com/css?family=Quicksand:400');


html{
    box-sizing: border-box;
}

*::before,*::after{
    box-sizing: inherit;
}

body {
    display: unset;
    margin:0;
}


/* - - - - - - - - - - - - - - - - - Font Styles - - - - - - - - - - - - - - - - - - - - - - - - */

html {font-size: 100%;} /*16px*/

body {
  background: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin:0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {font-size: 1.44rem;}

h5 {font-size: 1.2rem;}

small, .text_small {font-size: 0.833rem;}

/* - - - - - - - - - - - - - - - - - Colors - - - - - - - - - - - - - - - - - - - - - - - - */
:root {
    --water:#6A767C;
    --wood:#644516;
    --stone:#A69C98;
    --clouds:#C8C2C2;
    --black:#111015;
}

/* - - - - - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - - - - - - - - - */
header {
    background-color: var(--stone);
}

header h1 {
    color:var(--black);
    font-family: 'Dongle', sans-serif;
    font-weight: lighter;
}
/* - - - - - - - - - - - - - - - - - Main - - - - - - - - - - - - - - - - - - - - - - - - */

/*  - - - - - - - - - Player - - - - - - - - - - - - - - */

main{
    background-color: var(--water);
}
#player-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    padding:1rem;
    background-image: radial-gradient(rgb(107, 106, 106),black);
    background-color: var(--wood);
    color:var(--clouds);
}
/* - - - - - - - - - - - Visual - - - - - - - - - -*/
#visual {
    display:grid;
    grid-template-areas:
    "art"
    "Song"
    "Artist"
    "Bar";
    justify-items: center;
}

#playing-song-art {
    grid-area: art;
    justify-self: center;
    width:min(40rem,100%);
}

#artist {
    grid-area: Artist;
    margin:0;
}

#song {
    grid-area: Song;
    margin:0;
}

/* - - - - - - - - - - - Progress Bar - - - - - - - - - -*/

#progress-bar {
    display:flex;
    justify-self: center;
    grid-area: Bar;
}

#progress-bar progress {
    /* background-color: var(--black); */
}

#progress-bar::after {
    content: "00:00";
}

#progress-bar::before {
    content: "00:00";
}

/* - - - - - - - - - - - Controls - - - - - - - - - -*/


/* - - - - - - - - - - - Playlist - - - - - - - - - -*/

#playlist-area {
    background-color: var(--clouds);
}
#playlist {
    margin:0 auto;
    padding:1rem;
    list-style: none;
}

.playlist-item {
    font-size: 1.15rem;
    border-bottom: solid.05rem var(--stone);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.playlist-item:last-child {
    border:none;
}
.playlist-item img {
    width:min(5rem,100%);
}
.playlist-item .active img {
    width:min(8rem,100%);
}

.playlist-artist {
    justify-self: flex-end;
    color:var(--black)
}