#player-area {
    display:flex;
    flex-direction: column;
    background-color: rgba(233, 233, 245, 0.838);
    border:lavender .15rem solid;
    #visual{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        div{
            display: flex;
            flex-direction: column;
            padding:1rem;
        }
    }

    #progress-bar {
        &::after{
            content:"00:00";
        }
    }
    #controls {
        display: flex;
        justify-content: space-between;
        span {
            font-size:.85rem
        }
    }
}

#playing-song-art {
    display: flex;
    max-width:50%;
    padding:1rem;
}