#player-area {
    position: sticky;
    z-index: 1000;
    bottom:.25rem;
    margin:0;
    background-color: rgba(233, 233, 245, 0.838);
    border:lavender .15rem solid;
    #visual{
        display: flex;
        flex-direction: row;
        align-items: center;
        div{
            display: flex;
            flex-direction: column;
            padding:1rem;
        }
    }
    #controls {
        display: flex;
        gap:.25rem;
        justify-content: space-between;
    }
}

#playing-song-art {
    border:.25rem solid rgb(121, 121, 121);
    width:5rem;
}